body {
    background: black;
}

button {
    width: 15%;
    height: 15%;
    background: white;
    display: inline-block;
    text-align: center;
    padding: 20px;
}

nav {
    width: 294px;
    height: 60px;
    margin: auto;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Orbitron', sans-serif;
}

li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: white;
    color: black;
}

#pawn, #bishop, #queen, #king {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 75px;
    margin-left: 75px;
    visibility: hidden;
}

#rook, #knight {
    position: absolute;
    width: 280px;
    height: 350px;
    margin-top: 75px;
    margin-left: 110px;
    visibility: hidden;
}

.chessIcon {
    width: 25px;
    height: 30px;
}

.imageContainer {
    width: 500px;
    height: 500px;
    margin: auto;
    background: white;

}

.buttonContainer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
